li {
  list-style-type: none;

}

a {
  text-decoration: none;
}
.container {
  margin: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.sidebarcolumn {
  background-color: pink;
  height: 100vh;
}

.contentcolumn {
  background-color: whitesmoke;
  height: 100vh;
}

